default:
  apps:
    - lib/cf/broker
    - lib/cf/dashboard
    - lib/extensions/housekeeper
    - lib/extensions/healthchecker
    - lib/plugins/provisioning
    - lib/plugins/account

small:

medium:

large:
